/* assigns margins using mixins */
@mixin margin10 {
    margin-left: 10px;
    margin-right: 10px;
}

@mixin margin15 {
    margin-left: 15px;
    margin-right: 15px;
}

body {
    @include margin10;
}

div {
    @include margin15;
}
